In [448]:
import pandas as pd
import numpy as np
from datetime import datetime

In [449]:
input1 = pd.read_csv('Interview_Fresher_Any_Language\HDFC-Input-Case1.csv', sep='\t', header=None)
input1.columns = ['Information']

input2 = pd.read_csv('Interview_Fresher_Any_Language\ICICI-Input-Case2.csv', sep='\t', header=None)
input2.columns = ['Information']

input3 = pd.read_csv('Interview_Fresher_Any_Language\Axis-Input-Case3.csv', sep='\t', header=None)
input3.columns = ['Information']

input4 = pd.read_csv('Interview_Fresher_Any_Language\IDFC-Input-Case4.csv', sep='\t', header=None)
input4.columns = ['Information']

In [450]:
input1[['Date','Transaction_Desciption','Debit']] = input1.Information.str.split(",",expand=True,)
del input1['Information']
inputa=input1[4:9]
inputa["Credit"] = 0
inputa["CardName"] = "Rahul"
inputa["Transaction"] = "Domestic"
inputb = input1[20:26]
inputb["Credit"] = 0
inputb["CardName"] = "Rahul"
inputb["Transaction"] = "International"
inputc = input1[12:16]
inputc["Credit"] = 0
inputc["CardName"] = "Ritu"
inputc["Transaction"] = "Domestic"
answere = inputa.append(inputc, ignore_index=True)
answere1 = answere.append(inputb, ignore_index=True)
answere1
#answere1.to_csv('HDFC-Output-Case1.csv')

,Date,Transaction_Desciption,Debit,Credit,CardName,Transaction
0,12-01-2018,STIC TRAVELS PVT LTD DELHI,32256 cr,0,Rahul,Domestic
1,13-01-2018,FLIPKART INTERNET PRIVATE BANGALORE,211687,0,Rahul,Domestic
2,14-01-2018,FLEMINGO DUTY FREE Mumbai,18796.99,0,Rahul,Domestic
3,14-01-2018,AIRTEL PAYMENT MUMBAI,1297,0,Rahul,Domestic
4,14-01-2018,AIRTEL PAYMENT CHENNAI,902 cr,0,Rahul,Domestic
5,17-01-2018,PAYTM NOIDA,165,0,Ritu,Domestic
6,17-01-2018,BIKANERVALA GURGAON,325,0,Ritu,Domestic
7,19-01-2018,VFS GLOBAL SERVICES PVT MUMBAI,1200,0,Ritu,Domestic
8,21-01-2018,Amazon Seller Services BANGALORE,2155 cr,0,Ritu,Domestic
9,13-01-2018,SRILANKANUPGRADE KATUNAYAKE EUR,6,0,Rahul,International
10,14-01-2018,HEALTHGUARD LIMITED KATUNAYAKE USD,5 cr,0,Rahul,International
11,14-01-2018,FOOT RUB BERLIN EUR,20,0,Rahul,International
12,20-01-2018,California Games CALIFORNIA USD,100,0,Rahul,International
13,30-01-2018,NewYorkShop NEWYORK USD,200 cr,0,Rahul,International
14,08-02-2018,EURO WINGS DUSSELDOR EUR,5,0,Rahul,International

In [451]:
input3[['Date','Debit','Credit','Transaction_Details']] = input3.Information.str.split(",",expand=True,)
del input3['Information']
input3a = input3[4:11]
input3a["CardName"] = "Rahul"
input3a["Transaction"] = "Domestic"
input3b = input3[15:22]
input3b["CardName"] = "Ritu"
input3b["Transaction"] = "Domestic"
input3c = input3[28:34]
input3c["CardName"] = "Rahul"
input3c["Transaction"] = "International"
answere_a = input3a.append(input3b, ignore_index=True)
answere2 = answere_a.append(input3c, ignore_index=True)
answere2 = answere2[['Date','Transaction_Details','Debit','Credit','CardName','Transaction']]
answere2
#answere2.to_csv('Axis-Output-Case3.csv')

,Date,Transaction_Details,Debit,Credit,CardName,Transaction
0,28-01-2018,INDIAN RAILWAY CATERINGNEW DELHI,1099,,Rahul,Domestic
1,28-01-2018,FLIPKART INTERNET PRIVA BANGALORE,34980,,Rahul,Domestic
2,28-01-2018,TIPSY CATERERS JAIPUR,660,,Rahul,Domestic
3,29-01-2018,MAKEMYTRIP INDIA PVT LT NEW DELHI,57181,,Rahul,Domestic
4,29-01-2018,INDIAN RAILWAY CATERINGNEW DELHI,,3390,Rahul,Domestic
5,29-01-2018,MAKEMYTRIP INDIA PVT LT NEW DELHI,,53326,Rahul,Domestic
6,30-01-2018,INDIAN RAILWAY CATERING NEW DELHI,,680,Rahul,Domestic
7,22-02-2018,FEETOES GURGAON,,1845,Ritu,Domestic
8,18-02-2018,DECATHLON SPORTS INDIA GURGAON,949,,Ritu,Domestic
9,09-02-2018,SILVER GALERIE A UNIT GURGAON,1250,,Ritu,Domestic
10,31-02-2018,DNA PHARMACY GURUGRAM,,1650,Ritu,Domestic
11,26-02-2018,MONTE CARLO GURGAON,,413,Ritu,Domestic
12,30-02-2018,THE ROOM GURGAON,,456,Ritu,Domestic
13,30-02-2018,LITTLE BURGUNDY GURGAON,1938,,Ritu,Domestic
14,13-01-2018,SRILANKANUPGRADE KATUNAYAKE EUR,9,,Rahul,International
15,14-01-2018,HEALTHGUARD LIMITED KATUNAYAKE USD,,6,Rahul,International
16,17-01-2018,FOOT RUB BERLIN EUR,19,,Rahul,International
17,28-01-2018,California Games CALIFORNIA USD,108,,Rahul,International
18,30-01-2018,NewYorkShop NEWYORK USD,219,,Rahul,International
19,03-02-2018,EURO WINGS DUSSELDOR EUR,8,,Rahul,International

In [452]:
a=input4[6:9]
a[['Transaction_Desciption','Date','Debit']] = a.Information.str.split(",",expand=True,)
del a['Information']
b=input4[10:16]
b[['Transaction_Desciption','Date','Debit']] = b.Information.str.split(",",expand=True,)
del b['Information']
ab = a.append(b, ignore_index=True)
ab["CardName"] = "Rahul"
ab["Transaction"] = "Domestic"
c=input4[22:28]
d=input4[29:32]
c[['Transaction_Desciption','Date','Debit']] = c.Information.str.split(",",expand=True,)
del c['Information']
d[['Transaction_Desciption','Date','Debit']] = d.Information.str.split(",",expand=True,)
del d['Information']
cd = c.append(d, ignore_index=True)
cd["CardName"] = "Rajat"
cd["Transaction"] = "Domestic"
e = input4[37:43]
e[['Transaction_Desciption','Date','Debit']] = e.Information.str.split(",",expand=True,)
del e['Information']
e["CardName"] = "Rahul"
e["Transaction"] = "International"
f = ab.append(cd, ignore_index=True)
answere3 = f.append(e, ignore_index=True)
answere3["Credit"] = 0
answere3 = answere3[['Date','Transaction_Desciption','Debit','Credit','CardName','Transaction']]
answere3
#answere3.to_csv('IDFC-Output-Case4.csv')

,Date,Transaction_Desciption,Debit,Credit,CardName,Transaction
0,13-12-2017,JUNOON RESTRO GURGAON,1255,0,Rahul,Domestic
1,16-12-2017,POONAM SERVICE STATION GURGAON,17 Cr,0,Rahul,Domestic
2,16-12-2017,KABI BESPOKE BOUTIQUE GURGAON,220,0,Rahul,Domestic
3,16-12-2017,CLEARTRIP TRAVEL SERVIC MUMBAI,14849,0,Rahul,Domestic
4,21-12-2017,INDIAN RAILWAY CATERINGNEW DELHI,1684,0,Rahul,Domestic
5,22-12-2017,CLEARTRIP TRAVEL SERVIC MUMBAI,5205,0,Rahul,Domestic
6,22-12-2017,MSW*BLISS HOSPITALITIE Delhi NCR,3764,0,Rahul,Domestic
7,23-12-2017,NIMITAYA HOTEL & RESOR GURGAON,3475,0,Rahul,Domestic
8,24-12-2017,BIKANERVALA (GURGAON U) GURGAON,278,0,Rahul,Domestic
9,02-01-2018,THAI CHI STREETGURGAON,987,0,Rajat,Domestic
10,02-01-2018,AMAZON PAY BANGALORE,1875,0,Rajat,Domestic
11,04-01-2018,SHAHEED MANOHAR LAL FIL GURGAON,18 Cr,0,Rajat,Domestic
12,08-01-2018,BIKANERVALA (GURGAON U GURGAON,420,0,Rajat,Domestic
13,09-01-2018,MOPS-SBC-CR-CARD-E MUMBAI,500000,0,Rajat,Domestic
14,12-12-2017,SHOPPERS STOP LTD GURGAON,2886,0,Rajat,Domestic
15,12-12-2017,MORE MEGASTORE GURGAON,1500,0,Rajat,Domestic
16,13-12-2017,SHAHEED MANOHAR LAL FIL GURGAON,1968,0,Rajat,Domestic
17,13-12-2017,LIVE PHARMACY GURGAON,627,0,Rajat,Domestic
18,13-01-2018,SRILANKANUPGRADE KATUNAYAKE EUR,10,0,Rahul,International
19,01-14-2018,HEALTHGUARD LIMITED KATUNAYAKE USD,8 cr,0,Rahul,International
20,01-14-2018,FOOT RUB BERLIN EUR,21,0,Rahul,International
21,01-20-2018,California Games CALIFORNIA USD,101,0,Rahul,International
22,01-30-2018,NewYorkShop NEWYORK USD,199,0,Rahul,International
23,02-08-2018,EURO WINGS DUSSELDOR EUR,10,0,Rahul,International

In [453]:
x = input2[4:10]
x[['Date','Transaction_Desciption','Debit','Credit']] = x.Information.str.split(",",expand=True,)
x["CardName"] = "Rahul"
y = input2[12:23]
y[['Date','Transaction_Desciption','Debit','Credit']] = y.Information.str.split(",",expand=True,)
y["CardName"] = "Raj"
del x['Information']
del y['Information']
y["Transaction"] = "Domestic"
x["Transaction"] = "Domestic"
xy = x.append(y, ignore_index=True)
z = input2[27:33]
z[['Date','Transaction_Desciption','Debit','Credit']] = z.Information.str.split(",",expand=True,)
del z["Information"]
z["CardName"] = "Raj"
z["Transaction"] = "International"
answere4 = xy.append(z, ignore_index=True)
answere4
#answere4.to_csv('ICICI-Output-Case2.csv')

,Date,Transaction_Desciption,Debit,Credit,CardName,Transaction
0,12-03-2018,Amazon Cash Back Jan 18,213,,Rahul,Domestic
1,16-03-2018,SUBWAY GURGAON,,230,Rahul,Domestic
2,18-03-2018,NIMITAYA HOTEL & RESOR GURGAON,,3415,Rahul,Domestic
3,18-03-2018,BIRYANI PARADISE GURGAON,,335,Rahul,Domestic
4,19-03-2018,AIRTEL PAYMENT MUMBAI,880,,Rahul,Domestic
5,19-03-2018,AIRTEL PAYMENT,MUMBAI,1297,Rahul,Domestic
6,19-03-2018,AMAZON SELLER SERVICES MUMBAI,41499,,Raj,Domestic
7,19-03-2018,ICICI PRUDENTIAL LIFE MUMBAI,35935,,Raj,Domestic
8,20-03-2018,CARNIVAL CINEMAS NEEMU GURGAON,110,,Raj,Domestic
9,23-03-2018,BIRYANI PARADISE GURGAON,219,,Raj,Domestic
10,25-03-2018,SRS CINEMAS GURGAON,,155,Raj,Domestic
11,25-03-2018,SRS CINEMAS GURGAON,,1440,Raj,Domestic
12,25-03-2018,NIMITAYA HOTEL & RESOR GURGAON,3414,,Raj,Domestic
13,26-03-2018,KABI BESPOKE BOUTIQUE GURGAON,,270,Raj,Domestic
14,27-03-2018,PAYTM NOIDA,2941,,Raj,Domestic
15,27-03-2018,AMAZON SELLER SERVICES MUMBAI,416,,Raj,Domestic
16,28-03-2018,www.vodafone.in MUMBAI,500,0,Raj,Domestic
17,30-01-2017,SRILANKANUPGRADE KATUNAYAKE EUR,6,,Raj,International
18,14-01-2018,HEALTHGUARD LIMITED KATUNAYAKE USD,,15,Raj,International
19,19-01-2018,FOOT RUB BERLIN EUR,26,,Raj,International
20,20-01-2018,California Games CALIFORNIA USD,107,,Raj,International
21,30-01-2018,NewYorkShop NEWYORK USD,210,,Raj,International
22,08-02-2018,EURO WINGS DUSSELDOR EUR,15,,Raj,International